@font-face {
  font-family: myfont;
  src: url(./B_NAZANIN/B-NAZANIN.TTF);
}
body {
  margin-top: 25px;
  direction: rtl;
  background-color: rgba(245, 245, 220, 0.853);
  font-family: myfont;
}

select {
  font-family: myfont;
}
.filter {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  margin-left: 20px;
}
.button {
  background-color: rgb(134, 181, 206);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  font-family: myfont;
  margin-right: 100px;
  border: 1px solid black;
}
.font {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 45px;
}
.card {
  width: 250px;
  border: 1px solid #857272;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: right;
}

.card-title {
  margin: 0 0 10px;
}

.card-year,
.card-rating,
.card-duration,
.card-director {
  margin: 5px 0;
}
#movies-container {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #645353;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
